NetBeansProjects/WebGestaoDeGastos-master/web/WEB-INF/wsdl/192.168.0.100_8080/GestaoGastos/GestaodeGastos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="atualizarcategoria" type="tns:atualizarcategoria"/>

<xs:element name="atualizarcategoriaResponse" type="tns:atualizarcategoriaResponse"/>

<xs:element name="atualizarfixa" type="tns:atualizarfixa"/>

<xs:element name="atualizarfixaResponse" type="tns:atualizarfixaResponse"/>

<xs:element name="atualizarmovimentacao" type="tns:atualizarmovimentacao"/>

<xs:element name="atualizarmovimentacaoResponse" type="tns:atualizarmovimentacaoResponse"/>

<xs:element name="deletecategoria" type="tns:deletecategoria"/>

<xs:element name="deletecategoriaResponse" type="tns:deletecategoriaResponse"/>

<xs:element name="deletefixa" type="tns:deletefixa"/>

<xs:element name="deletefixaResponse" type="tns:deletefixaResponse"/>

<xs:element name="deletemovimentacao" type="tns:deletemovimentacao"/>

<xs:element name="deletemovimentacaoResponse" type="tns:deletemovimentacaoResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="obterlistacategoria" type="tns:obterlistacategoria"/>

<xs:element name="obterlistacategoriaResponse" type="tns:obterlistacategoriaResponse"/>

<xs:element name="obterlistafixa" type="tns:obterlistafixa"/>

<xs:element name="obterlistafixaResponse" type="tns:obterlistafixaResponse"/>

<xs:element name="obterlistamovimentacao" type="tns:obterlistamovimentacao"/>

<xs:element name="obterlistamovimentacaoResponse" type="tns:obterlistamovimentacaoResponse"/>

<xs:element name="obtersaldo" type="tns:obtersaldo"/>

<xs:element name="obtersaldoResponse" type="tns:obtersaldoResponse"/>

<xs:element name="savecategoria" type="tns:savecategoria"/>

<xs:element name="savecategoriaResponse" type="tns:savecategoriaResponse"/>

<xs:element name="savefixa" type="tns:savefixa"/>

<xs:element name="savefixaResponse" type="tns:savefixaResponse"/>

<xs:element name="savemovimentacao" type="tns:savemovimentacao"/>

<xs:element name="savemovimentacaoResponse" type="tns:savemovimentacaoResponse"/>

<xs:complexType name="savemovimentacao">
<xs:sequence>
<xs:element name="objeto" type="tns:modelMovimentacao" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modelMovimentacao">
<xs:complexContent>
<xs:extension base="tns:modelCategoria">
<xs:sequence>
<xs:element name="data" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descricao" type="xs:string" minOccurs="0"/>
<xs:element name="idMovimentacao" type="xs:int"/>
<xs:element name="status" type="xs:boolean"/>
<xs:element name="valor" type="xs:float"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="modelCategoria">
<xs:sequence>
<xs:element name="idCategoria" type="xs:int"/>
<xs:element name="nomeCategoria" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="savemovimentacaoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtersaldo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtersaldoResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterlistacategoria">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obterlistacategoriaResponse">
<xs:sequence>
<xs:element name="return" type="tns:modelCategoria" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarmovimentacao">
<xs:sequence>
<xs:element name="objeto" type="tns:modelMovimentacao" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarmovimentacaoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obterlistamovimentacao">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obterlistamovimentacaoResponse">
<xs:sequence>
<xs:element name="return" type="tns:modelMovimentacao" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterlistafixa">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obterlistafixaResponse">
<xs:sequence>
<xs:element name="return" type="tns:modelFixa" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modelFixa">
<xs:complexContent>
<xs:extension base="tns:modelCategoria">
<xs:sequence>
<xs:element name="data" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descricao" type="xs:string" minOccurs="0"/>
<xs:element name="idFixa" type="xs:int"/>
<xs:element name="valor" type="xs:float"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="deletecategoria">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletecategoriaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deletefixa">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletefixaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="atualizarcategoria">
<xs:sequence>
<xs:element name="objeto" type="tns:modelCategoria" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarcategoriaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deletemovimentacao">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletemovimentacaoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="savefixa">
<xs:sequence>
<xs:element name="objeto" type="tns:modelFixa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="savefixaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="savecategoria">
<xs:sequence>
<xs:element name="objeto" type="tns:modelCategoria" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="savecategoriaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="atualizarfixa">
<xs:sequence>
<xs:element name="objeto" type="tns:modelFixa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarfixaResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>