NetBeansProjects/WebGestaoDeGastos-master/src/conf/xml-resources/web-service-references/GestaodeGastos/wsdl/192.168.0.100_8080/GestaoGastos/GestaodeGastos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="GestaodeGastos">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://192.168.0.100:8080/GestaoGastos/GestaodeGastos?xsd=1"/>
</xsd:schema>
</types>
<message name="savefixa">
<part name="parameters" element="tns:savefixa"/>
</message>
<message name="savefixaResponse">
<part name="parameters" element="tns:savefixaResponse"/>
</message>
<message name="atualizarmovimentacao">
<part name="parameters" element="tns:atualizarmovimentacao"/>
</message>
<message name="atualizarmovimentacaoResponse">
<part name="parameters" element="tns:atualizarmovimentacaoResponse"/>
</message>
<message name="savecategoria">
<part name="parameters" element="tns:savecategoria"/>
</message>
<message name="savecategoriaResponse">
<part name="parameters" element="tns:savecategoriaResponse"/>
</message>
<message name="savemovimentacao">
<part name="parameters" element="tns:savemovimentacao"/>
</message>
<message name="savemovimentacaoResponse">
<part name="parameters" element="tns:savemovimentacaoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="obterlistamovimentacao">
<part name="parameters" element="tns:obterlistamovimentacao"/>
</message>
<message name="obterlistamovimentacaoResponse">
<part name="parameters" element="tns:obterlistamovimentacaoResponse"/>
</message>
<message name="obterlistacategoria">
<part name="parameters" element="tns:obterlistacategoria"/>
</message>
<message name="obterlistacategoriaResponse">
<part name="parameters" element="tns:obterlistacategoriaResponse"/>
</message>
<message name="obtersaldo">
<part name="parameters" element="tns:obtersaldo"/>
</message>
<message name="obtersaldoResponse">
<part name="parameters" element="tns:obtersaldoResponse"/>
</message>
<message name="obterlistafixa">
<part name="parameters" element="tns:obterlistafixa"/>
</message>
<message name="obterlistafixaResponse">
<part name="parameters" element="tns:obterlistafixaResponse"/>
</message>
<message name="atualizarfixa">
<part name="parameters" element="tns:atualizarfixa"/>
</message>
<message name="atualizarfixaResponse">
<part name="parameters" element="tns:atualizarfixaResponse"/>
</message>
<message name="deletecategoria">
<part name="parameters" element="tns:deletecategoria"/>
</message>
<message name="deletecategoriaResponse">
<part name="parameters" element="tns:deletecategoriaResponse"/>
</message>
<message name="deletemovimentacao">
<part name="parameters" element="tns:deletemovimentacao"/>
</message>
<message name="deletemovimentacaoResponse">
<part name="parameters" element="tns:deletemovimentacaoResponse"/>
</message>
<message name="deletefixa">
<part name="parameters" element="tns:deletefixa"/>
</message>
<message name="deletefixaResponse">
<part name="parameters" element="tns:deletefixaResponse"/>
</message>
<message name="atualizarcategoria">
<part name="parameters" element="tns:atualizarcategoria"/>
</message>
<message name="atualizarcategoriaResponse">
<part name="parameters" element="tns:atualizarcategoriaResponse"/>
</message>
<portType name="wsGestaodeGastos">
<operation name="savefixa">
<input wsam:Action="http://ws/wsGestaodeGastos/savefixaRequest" message="tns:savefixa"/>
<output wsam:Action="http://ws/wsGestaodeGastos/savefixaResponse" message="tns:savefixaResponse"/>
</operation>
<operation name="atualizarmovimentacao">
<input wsam:Action="http://ws/wsGestaodeGastos/atualizarmovimentacaoRequest" message="tns:atualizarmovimentacao"/>
<output wsam:Action="http://ws/wsGestaodeGastos/atualizarmovimentacaoResponse" message="tns:atualizarmovimentacaoResponse"/>
</operation>
<operation name="savecategoria">
<input wsam:Action="http://ws/wsGestaodeGastos/savecategoriaRequest" message="tns:savecategoria"/>
<output wsam:Action="http://ws/wsGestaodeGastos/savecategoriaResponse" message="tns:savecategoriaResponse"/>
</operation>
<operation name="savemovimentacao">
<input wsam:Action="http://ws/wsGestaodeGastos/savemovimentacaoRequest" message="tns:savemovimentacao"/>
<output wsam:Action="http://ws/wsGestaodeGastos/savemovimentacaoResponse" message="tns:savemovimentacaoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/wsGestaodeGastos/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/wsGestaodeGastos/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="obterlistamovimentacao">
<input wsam:Action="http://ws/wsGestaodeGastos/obterlistamovimentacaoRequest" message="tns:obterlistamovimentacao"/>
<output wsam:Action="http://ws/wsGestaodeGastos/obterlistamovimentacaoResponse" message="tns:obterlistamovimentacaoResponse"/>
</operation>
<operation name="obterlistacategoria">
<input wsam:Action="http://ws/wsGestaodeGastos/obterlistacategoriaRequest" message="tns:obterlistacategoria"/>
<output wsam:Action="http://ws/wsGestaodeGastos/obterlistacategoriaResponse" message="tns:obterlistacategoriaResponse"/>
</operation>
<operation name="obtersaldo">
<input wsam:Action="http://ws/wsGestaodeGastos/obtersaldoRequest" message="tns:obtersaldo"/>
<output wsam:Action="http://ws/wsGestaodeGastos/obtersaldoResponse" message="tns:obtersaldoResponse"/>
</operation>
<operation name="obterlistafixa">
<input wsam:Action="http://ws/wsGestaodeGastos/obterlistafixaRequest" message="tns:obterlistafixa"/>
<output wsam:Action="http://ws/wsGestaodeGastos/obterlistafixaResponse" message="tns:obterlistafixaResponse"/>
</operation>
<operation name="atualizarfixa">
<input wsam:Action="http://ws/wsGestaodeGastos/atualizarfixaRequest" message="tns:atualizarfixa"/>
<output wsam:Action="http://ws/wsGestaodeGastos/atualizarfixaResponse" message="tns:atualizarfixaResponse"/>
</operation>
<operation name="deletecategoria">
<input wsam:Action="http://ws/wsGestaodeGastos/deletecategoriaRequest" message="tns:deletecategoria"/>
<output wsam:Action="http://ws/wsGestaodeGastos/deletecategoriaResponse" message="tns:deletecategoriaResponse"/>
</operation>
<operation name="deletemovimentacao">
<input wsam:Action="http://ws/wsGestaodeGastos/deletemovimentacaoRequest" message="tns:deletemovimentacao"/>
<output wsam:Action="http://ws/wsGestaodeGastos/deletemovimentacaoResponse" message="tns:deletemovimentacaoResponse"/>
</operation>
<operation name="deletefixa">
<input wsam:Action="http://ws/wsGestaodeGastos/deletefixaRequest" message="tns:deletefixa"/>
<output wsam:Action="http://ws/wsGestaodeGastos/deletefixaResponse" message="tns:deletefixaResponse"/>
</operation>
<operation name="atualizarcategoria">
<input wsam:Action="http://ws/wsGestaodeGastos/atualizarcategoriaRequest" message="tns:atualizarcategoria"/>
<output wsam:Action="http://ws/wsGestaodeGastos/atualizarcategoriaResponse" message="tns:atualizarcategoriaResponse"/>
</operation>
</portType>
<binding name="wsGestaodeGastosPortBinding" type="tns:wsGestaodeGastos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="savefixa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarmovimentacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="savecategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="savemovimentacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obterlistamovimentacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obterlistacategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtersaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obterlistafixa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarfixa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletecategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletemovimentacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletefixa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarcategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestaodeGastos">
<port name="wsGestaodeGastosPort" binding="tns:wsGestaodeGastosPortBinding">
<soap:address location="http://192.168.0.100:8080/GestaoGastos/GestaodeGastos"/>
</port>
</service>
</definitions>