DEV/Workspace/wscliente-master/web/WEB-INF/wsit-ws.wsCategoria.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="wsCategoria" targetNamespace="http://ws/" xmlns:tns="http://ws/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="listacategoria"/>
    <message name="listacategoriaResponse"/>
    <message name="salvacategoria"/>
    <message name="salvacategoriaResponse"/>
    <message name="excluicategoria"/>
    <message name="excluicategoriaResponse"/>
    <message name="getSaldo"/>
    <message name="getSaldoResponse"/>
    <portType name="wsCategoria">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="listacategoria">
            <input message="tns:listacategoria"/>
            <output message="tns:listacategoriaResponse"/>
        </operation>
        <operation name="salvacategoria">
            <input message="tns:salvacategoria"/>
            <output message="tns:salvacategoriaResponse"/>
        </operation>
        <operation name="excluicategoria">
            <input message="tns:excluicategoria"/>
            <output message="tns:excluicategoriaResponse"/>
        </operation>
        <operation name="getSaldo">
            <input message="tns:getSaldo"/>
            <output message="tns:getSaldoResponse"/>
        </operation>
    </portType>
    <binding name="wsCategoriaPortBinding" type="tns:wsCategoria">
        <operation name="hello">
            <input/>
            <output/>
        </operation>
        <operation name="listacategoria">
            <input/>
            <output/>
        </operation>
        <operation name="salvacategoria">
            <input/>
            <output/>
        </operation>
        <operation name="excluicategoria">
            <input/>
            <output/>
        </operation>
        <operation name="getSaldo">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="wsCategoria">
        <port name="wsCategoriaPort" binding="tns:wsCategoriaPortBinding"/>
    </service>
</definitions>
