NetBeansProjects/WebGestaoDeGastos-master/web/WEB-INF/wsdl/localhost_8080/wscliente-master/wsCategoria.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="excluicategoria" type="tns:excluicategoria"/>

<xs:element name="excluicategoriaResponse" type="tns:excluicategoriaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="listacategoria" type="tns:listacategoria"/>

<xs:element name="listacategoriaResponse" type="tns:listacategoriaResponse"/>

<xs:element name="salvacategoria" type="tns:salvacategoria"/>

<xs:element name="salvacategoriaResponse" type="tns:salvacategoriaResponse"/>

<xs:complexType name="excluicategoria">
<xs:sequence>
<xs:element name="nomecategoria" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="excluicategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvacategoria">
<xs:sequence>
<xs:element name="nomecategoria" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvacategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listacategoria">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listacategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>